.carrois-gothic-regular {
    font-family: "Carrois Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
*{
    margin: 0;
    padding: 0;
    font-family: "Carrois Gothic", sans-serif;
    box-sizing: border-box;
    user-select: none;
}  

body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}
.profilecard{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
    border-radius: 25px;
    position: relative;


}

.profilecard::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 35%;
    background-color: #4070f4;
    top: 0;
    border-radius: 25px 25px 0px 0px;

}
.image{
   
    height: 150px;
    width: 150px;
    position: relative;
    padding: 3px;
    border-radius: 50%;
    background-color: #4070f4;
    margin-bottom: 10px;

   

}


.image .pro-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border:3px solid #fff;
    
    }

    .profilecard .text{
        display: flex;
        flex-direction: column;
        
        align-items: center;
    }

    .text .name{
        font-family: "poppins";
        font-size:22px ;
        font-weight: 500;
    }
    .text .job{
        font-size: 18px;
        font-weight: 400;
    }

    .profilecard .media-button{
        display: flex;
        align-items: center;
        margin-top: 10px;

    }

    .media-button a{
        text-decoration: none;
        margin: 0px 5px;
        background-color: #4070f4;
        height: 34px;
        width: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border-radius: 50%;
        transition:  all 0.1s;

    }
    .media-button a:hover{
        font-size: 23px;
    }
    .buttons{
        margin-top: 20px;
        align-items: center;
        display: flex;
        
        
    

    }
    .buttons .button {
        background-color: #4070f4;
        margin: 0 10px;
        padding: 10px 15px ;
        border: none;
        border-radius: 25px;
        font-family: "poppins";
        font-weight: 500;
        font-size: 18px;
        cursor: pointer;
        color: white;
        transition: background 0.5s;

    }
    .buttons .button:hover{
        background-color: #0e4b;
        color: black;

    }

    .socialMediaCount{
        margin-top: 10px;
       
        display: flex;
    
    }
    .socialMediaCount .like {
        justify-content: center;
        padding: 5px;
        margin: 0px 10px;
        display: flex;
        align-items: center;
       color: rgba(42, 41, 41, 0.8);
       
       cursor: pointer;
       
       
       
       
       
    }
    .like:first-child{
        border:none;
    }
    
    .like p{
        
        font-family: "poppins";
    }